---
import { basics } from '@resume'
const { summary, summary_2 } = basics
---
<div>
    <p>
        {summary}
    </p>
    <p>
        {summary_2}
    </p>
</div>

<style>
    div {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
</style>